.banner_main {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: var(--main);
}
.banner_sub {
  padding-top: 24px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  color: var(--main);
  position: relative;
  /* display: inline-block;*/
}
.arrow_left,
.arrow_right {
  position: absolute;
  width: 40px;
  top: 10%;
  bottom: auto;
  left: -3px;
}
.arrow_right {
  top: auto;
  bottom: 0;
  left: 90%;
  transform: scaleX(-1);
}

.banner_content {
  padding: 24px 0;
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--black);
  white-space: pre-wrap;
}
.car {
  padding-top: 32px;
  width: 100%;
}

.button {
  padding: 8px 16px;
  background-color: var(--main);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
}
.button:hover {
  background-color: var(--main-soft);
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.banner_sub p {
  color: var(--main);
  padding: 24px 0 16px;
}
@media only screen and (min-width: 768px) {
  .banner {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .banner {
    font-size: 5rem;
  }
}
