.banner_main {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--blue);
}
.banner_sub {
  padding-top: 12px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  color: var(--blue);
  position: relative; /* Точка відліку для .arrow_right */
  display: inline-block; /* Для збереження центрованого вирівнювання */
}

.arrow_left,
.arrow_right {
  position: absolute;
  width: 40px;
  top: 60%;
  left: -8px;
  transform: translateY(-50%);
}
.arrow_right {
  top: 25%;
  left: 90%;
  transform: scaleX(-1);
}

.banner_content {
  padding-top: 12px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--black);
}
.car {
  padding-top: 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .banner {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .banner {
    font-size: 5rem;
  }
}
