/* Mobile devices */
.container {
  text-align: center;
  min-width: 320px;
  max-width: 420px; /* 414px android / ios */
  padding: 0 20px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.error_title {
  font-size: 1.2rem;
}
.error_text {
  font-size: 0.6rem;
}
/* Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1024px; /* landscape */
    padding: 0 32px;
  }
  .error_title {
    font-size: 2rem;
  }
  .error_text {
    font-size: 1rem;
  }
}

/*Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
  .error_title {
    font-size: 3rem;
  }
  .error_text {
    font-size: 1.5rem;
  }
}
