.banner_main {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: var(--main);
}

.banner_content {
  padding: 24px 0;
  display: block;
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--black);
}
.button {
  padding: 8px 16px;
  background-color: var(--main);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}
.button:hover {
  background-color: var(--main-soft);
}
.arrow_left {
  position: absolute;
  width: 40px;
  bottom: 0;
  left: -52px;
}

@media only screen and (min-width: 768px) {
  .banner_main {
    padding-top: 32px;
    font-size: 2.5rem;
  }
  .banner_content {
    padding: 32px 0 32px;
    font-size: 1.5rem;
  }
  .button {
    font-size: 2.2rem;
  }
  .arrow_left {
    width: 64px;
    bottom: -8%;
    left: -20%;
  }
}
