.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBtn {
  z-index: 2;
  position: fixed;
  right: 8px;
  bottom: 32px;
  padding: 6px 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 140px;
  display: flex;
}

.phone {
  width: 24px;
}

.phoneBtn {
  padding: 0;
  border: none;
  background-color: inherit;
}
