.container {
  height: 40px;
  padding-top: 16px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.autotradekh_logo_wrapper {
  /* padding-left: 20px; */
  position: absolute;
}

.autotradekh_logo {
  /* width: 72px; */
  height: 24px;
}

.phone {
  padding-left: 40px;
  text-decoration: none;
  font-size: 18px;
  color: var(--main);
  cursor: pointer;
  font-weight: 600;
  line-height: 1;
  align-self: center;
  position: absolute;
}
.phone:hover {
  color: var(--main-soft);
}
.messengers {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: absolute;
  right: 0;
}

.tiktok,
.telegram,
.viber {
  width: 24px;
}

@media only screen and (min-width: 768px) {
  .container {
    /* align-items: center; */
    height: auto;
    justify-content: space-between;
  }
  .autotradekh_logo_wrapper,
  .phone,
  .messengers {
    position: static;
  }

  .phone {
    padding: 9px 0;
    align-self: auto;
    font-size: 1.5rem;
    font-weight: 900;
  }
  .messengers {
    gap: 16px;
    padding: 6px 0;
  }
  .autotradekh_logo {
    height: 48px;
  }
  .tiktok,
  .telegram,
  .viber {
    width: 26px;
  }
}
