.container {
  padding-top: 16px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phone {
  text-decoration: none;
  font-size: 18px;
  color: var(--blue);
  cursor: pointer;
  font-weight: 600;
}

.messengers {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tiktok,
.telegram,
.viber {
  width: 24px;
}
