.workflow_title {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: var(--main);
}

.list {
  /* padding-top: 48px; */
  padding-top: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 4px;
}

.item {
  position: relative;
  max-width: calc(100% / 2 - 4px);
  cursor: pointer;
}

.image {
  object-fit: cover;
}

.title {
  bottom: 8px;
  left: 0;
  position: absolute;
  text-shadow: 1px 1px 4px #000;
  text-transform: uppercase;
  color: white;
  opacity: 1; /* Початкова прозорість для плавного зникнення */
  transition: opacity 0.2s ease-in-out; /* Плавний перехід */
  font-size: calc(18px + 0.5vw / 0.5);
}

.item:hover .title {
  opacity: 0; /* При наведенні робимо елемент прозорим */
}

.describe {
  transform: translateY(50%);
  bottom: 50%;
  left: 0;
  position: absolute;
  font-size: calc(12px + 0.5vw / 0.5);
  font-weight: 500;
  line-height: 1.3;
  text-shadow: 1px 1px 2px #000;
  color: white;
  z-index: 1;
  width: 100%;
  text-align: center;
  opacity: 0; /* Початкова прозорість для плавного появи */
  transition: opacity 0.2s ease-in-out; /* Плавний перехід */
}

.item:hover .describe {
  opacity: 1; /* При наведенні робимо елемент видимим */
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0; /* Початкова прозорість для плавного затемнення */
  transition: opacity 0.2s ease-in-out; /* Плавний перехід */
}

.item:hover::before {
  opacity: 0.5; /* При наведенні курсору затемнення на 50% */
}

@media only screen and (min-width: 768px) {
  .workflow_title {
    padding-top: 32px;
    font-size: 2.5rem;
  }
  .list {
    padding-top: 32px;
    column-gap: 6px;
    row-gap: 6px;
  }
  .item {
    max-width: 14.4rem;
  }
  .title {
    font-size: 1.7rem;
  }

  .item:hover .title {
    opacity: 0; /* При наведенні робимо елемент прозорим */
  }

  .describe {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .item:hover .title {
    opacity: 1;
  }
  .item::before {
    content: none;
  }
  .list {
    flex-direction: column;
  }
  .item {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    cursor: default;
  }
  .item img {
    max-width: 8rem;
  }
  .text_block {
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }

  .title {
    position: static;
    font-size: 1.5rem;
    color: var(--main);
    text-shadow: none;
  }
  .describe {
    padding-top: 16px;
    position: static;
    transform: none;
    opacity: 1;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: start;
    color: var(--black);
    text-shadow: none;
  }
}
