.container {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.autotradekh_logo_wrapper img {
  padding: 16px 0;
}
.phone {
  text-decoration: none;
  font-size: 24px;
  color: var(--main);
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  align-self: center;
}
.phone:hover {
  color: var(--main-soft);
}
.messengers {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 767px) {
  .messengers > * + * {
    margin-left: 0.8rem;
  }
  .tiktok img,
  .telegram img,
  .viber img {
    width: 28px;
  }
}
.messengers p {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    align-items: center;
  }
  .phone {
    font-size: 32px;
  }
  .messengers {
    display: flex;
    gap: 32px;
  }
  .tiktok a,
  .telegram a,
  .viber a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .tiktok img,
  .telegram img,
  .viber img {
    width: 32px;
  }
  .messengers p {
    display: block;
    font-weight: 500;
  }
  .autotradekh_logo {
    width: 1216px;
  }
}
@media only screen and (min-width: 1024px) {
  .messengers {
    gap: 64px;
  }
  .messengers a {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1280px) {
}
