.main {
  display: flex;
  justify-content: end;
  font-size: 7px;
  font-weight: 600;
  position: fixed;
  bottom: 4px;
  right: 8px;
  padding: 0;
  transition: opacity 150ms ease-in-out;
}
.main > * + * {
  margin-left: 0.2rem;
}

.visible {
  display: block;
  opacity: 0.5;
}
.hidden {
  display: none;
  opacity: 1;
}
