.container {
  color: var(--blue);
}

.benefits {
}

.benefitItem {
  padding-top: 16px;
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: var(--blue);
}

.describe {
  padding-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--blue);
}
