.benefits_title {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: var(--main);
}
:global(.szh-accordion__item-btn) {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
}

.benefits_list {
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ok_icon {
  width: 32px;
}
.benefit_item {
  display: flex;
  padding: 24px 0 12px;
  border-bottom: 1px solid var(--blue-soft);
}

.benefit_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
}
.main {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.1;
  color: var(--main);
}

.describe {
  padding-top: 4px;
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--black);
}

/* .fading_out {
  opacity: 0;
}

.fading_in {
  opacity: 1;
} */

@media only screen and (min-width: 768px) {
  .benefits_title {
    padding-top: 32px;
    font-size: 1.2rem;
  }
  .main {
    font-size: 1.5rem;
  }

  .describe {
    padding-top: 8px;
    font-size: 1.3rem;
  }
}
